@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&family=Passion+One:wght@400;700&display=swap');

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/greenDark.css";
@import "@radix-ui/colors/redDark.css";

* {
    box-sizing: border-box;

    --font-lato: 'Lato', sans-serif;
    --font-osvald: 'Oswald', sans-serif;
    --font-passion: 'Passion One', sans-serif;

    --color-blue: var(--blue7);

    --color-delete: #9e0d0d;
    --color-list: #0d253d;    
}